@import "./sass_mixins";
@import "bourbon";
// font sizes
$breakpoints: ( small: 480px, medium: 700px, large: 1024px);
$h1-font-sizes: ( null: (23px, 32px), small: (36px, 53px), medium: (38px, 50px), large: (65px, 97px));
$p-font-sizes: ( null: (14px, null), small: 16px, medium: (17px, null), 900px: 18px, large: (17px, null), 1440px: 17px, );
$h1-font-extrabold: ( null: (23px, 32px), small: (36px, 53px), medium: (38px, 50px), large: (80px, 97px));
// helper classes

// @font-face {
//     font-family: 'Proxima Nova';
//     src: url('../fonts/Proxima Nova Bold.otf');
// }

// @font-face {
//     font-family: 'Proxima Nova Regular';
//     src: url('../fonts/Proxima Nova Regular.otf');
// }
@font-face {
    font-family: 'Tenor Sans';
    src: url('../fonts/TenorSans-Regular.ttf');
}


.clearfix {
    @include clearfix;
}

.clear-left {
    clear: left;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none !important;
}
body{
    font-family: 'Tenor Sans';
    
}
.container{
    width: 1170px !important;
}
// HEADER 
.header{
    height: 779px;
    background: url('../img/header-slider.jpg') no-repeat;
    background-size: cover;
    .logo{
        margin-top: 50px;
    }
    .list-unstyled li{
        float: left;
        margin-top: 43px;
        margin-left: 40px;

       
        a{
            display: block;
             padding: 22px 20px;
             color: #6e6658;
             text-decoration: none;
             &:hover{
                color: #fff;
                @include radial-gradient(circle at 50% 50%, #56595c 10%, #3a3d3e);
             }

        }
        
        &:first-child{
            margin-left: 24px;
        }

    }
    .main-slider{

       .carousel-control.left,.carousel-control.right{
        background: none;
       }


        h1{
            font-size: 80px;
            text-align: left;
            text-shadow: 2px 0px 12px #fff;
             
             color: #4475a5;
            span{
                font-size: 56px;
                color: #908674;
            }
        }
        h3{
            font-size: 26px;
            text-align: left;
             color: #908674;
        }
        p{
            text-align: left;
            font-size: 20px;
            white-space: pre-line;
             color: #908674;
             margin-top: 20px;
        }
        .carousel-caption{
            bottom: 83px;
           left: 22%;
        }
        .phone-name{
            vertical-align: bottom;
        }
        .carousel-indicators{
            bottom: -110px;
           li{
            background: #d6c7ad;
            box-shadow: 0px -2px 0px 1px #9e9381;
            border: none;
           }
           .active{
            background: #7da4b9;
            box-shadow: 0px -1px 0px 1px #516e82;
           }
        }
    }
}

// HOW AND WAHT
button{
    @include linear-gradient(to bottom, #7ac2cd,#5394b0);
    color: #fff;
    height: 30px;
    font-size: 13px;
    position: relative;
    width: 145px;

    padding-left: 34px;
    border: 1px solid #888888;
    border-radius: 3px;
    text-shadow: 0px -1px 2px #888888;
    letter-spacing: -1px;
        
        span{
               position: absolute;
    @include radial-gradient(#6b675c 30%,#504c44);
    color: #fff;
    font-size: 18px;
    
    
    line-height: 30px;
    display: inline-block;
    width: 30px;
    height: 29px;
    left: 0;
    top: 0;
   
            
        }
    }
.howAndWhat{
    background: url('../img/howandwhats.jpg') no-repeat;
    height: 1750px;
    background-size: cover;
    h1{
        margin: 70px 0 30px;
        color: #1977bd;
        font-size: 80px;
        font-weight: bold;
        
        span{
            color: #888888;
            font-size: 56px;
            font-weight: normal;
            
            sub{
                bottom: 0;
            }
        }
    }
    p{
        font-size: 15px;
        line-height: 25px;
        color: #888888;
        margin-bottom: 25px;
        white-space: pre-line;
        hyphens: manual;
    }
    
    .howTo{
        margin-top: 30px;
        .icon{
            position: relative;
            left: -25px;
            bottom: -4px;
            display: inline-block;
            width: 63px;
            height: 65px;
            background: url('../img/howTo-icon.png') no-repeat;
          }
        h1{
          color: #1977bd ;
          display: inline-block;
          font-size: 80px;
          margin-left: -25px;
          font-weight: normal;
          text-shadow: 1px -1px 10px #fff8d9;
          
          
            
          
        }
        p{
            margin-left: 50px;
            white-space: pre-line;
            font-size: 15px;
        }
        span{
            font-size: 80px;
        }
        .map-image{
            text-align: center;
            
            img{
            margin: 100px 0 60px;
        }
        }
        .map-text{
            text-align: center;
            margin-left: 0;
            margin-top: 60px;
            &:last-child{
                margin-top: 20px;
            }
        }
    }

}

//NEW
.new{
    background: url('../img/above-footer.jpg')no-repeat;
    height: 856px;
    background-size: cover;
   text-align: center;
   h1{
    margin: 60px 0 80px;
    color: #908674;
    font-size: 80px;
    
    
    span{
        color: #4475a5;

    }
   }
   .panel{
        margin-bottom: 0;
        background: none;
        box-shadow: none;
        border: none;
   }
   .carousel-control.left,.carousel-control.right{
    background: #e5d6bb;
    top: 25%;
    width: 5%;
    height: 100px;
   }
   .carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right{
    top: 45%;

   }
   .carousel-control{
    border-radius: 5px;
   }
   .carousel-indicators{
    display: none;
    
   }
   h5{
    text-align: left;
    font-size: 20px;
    color: #4475a5;

   
   }
   p{
    white-space: pre-line;
    text-align: left;
    line-height: 25px;
    
   }
   .button{
    text-align: left;
   }
   h5,p,.button{
    margin-left: 60px;
    margin-top: 30px;
   }

}
// ANYWHERE

.anyWhere{
    background: url('../img/download-section.jpg') no-repeat;
    background-size: cover;
    height: 256px;
   h4{
    text-align: center;
    margin-top: 30px;
    font-size: 33px;
    color: #615a4f;
    
   }
   .unstyled{
    list-style-type: none;
    @include linear-gradient(to bottom, #61afce,#4a889e);
    height: 80px;
    border: 1px solid #fffcdb;
    border-radius: 30px;
    padding: 0;
    display: block;
    margin-top: 60px;
    
    li{
          float: left;
    border-right: 1px solid #2e5666;
    box-shadow: 1px 0 0 0 #7cb9c4;
    margin-top: 10px;
    height: 60px;
    margin-left: 40px;
    padding-right: 40px;
            &:last-child{
                border: none;
                box-shadow: none;
            }
            span{
              margin-right: 15px;
              display: block;
              float: left;
              margin-top: 10px;
                
            }
        a{
            color: #fffcdb;
            text-decoration: none;
            display: block;
            float: left;
            margin-top: 6px;
           
            font-size: 22px;
           
            h6{
                color: #e9d9bc;
                font-size: 13px;
               margin: 0;
            }
        }
    }
   }
}

//QUICKLINKS
.quickLinks{
    background: url('../img/footer.jpg') no-repeat;
    height: 372px;
    background-size: cover;
    li{
        margin-bottom: 10px;
        a{
            color: #fffcdb;
            text-transform: uppercase;
            font-size: 12px;
        }
    }
    .map{
        background: url('../img/map.png') no-repeat 5% 50%;
        height: 300px;
    }
    h2{
        border-bottom: 1px solid #3e758e;
        box-shadow: 0 1px 0 0 #5fb1d4;
        color: #fff;
        padding-bottom: 10px;
    }
    p{
        white-space: pre-line;
        color: #fff;
        margin-left: 230px;
        a{
            color: #fff;
        }
    }
    .form-group{
        label,input,textarea{
            display: block;
            float: left;
            margin-bottom: 20px;
        }
        label{
           
           margin-right: 35px;
           margin-top: 5px;
           color: #fff;
        }
        .msg{
            margin-right: 15px;
        }
        input{
            max-width: 180px;
        }
        textarea{
            max-width: 180px;
        }
        button{
            margin-left: 77px;
            max-width: 100px;
            color: #44829e;
            text-shadow: none;
            letter-spacing: 0;
        }
    }
}



@media (max-width: 479px) {
    
    
}

@media (max-width: 767px) {
    
}

@media (min-width:480px) and (max-width:767px) {
    
}


@media (min-width:768px)and(max-width: 991px) {
   
}

@media (min-width: 992px) {
    
}


