@font-face {
  font-family: 'Tenor Sans';
  src: url("../fonts/TenorSans-Regular.ttf"); }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.clear-left {
  clear: left; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none !important; }

body {
  font-family: 'Tenor Sans'; }

.container {
  width: 1170px !important; }

.header {
  height: 779px;
  background: url("../img/header-slider.jpg") no-repeat;
  background-size: cover; }
  .header .logo {
    margin-top: 50px; }
  .header .list-unstyled li {
    float: left;
    margin-top: 45px;
    margin-left: 40px; }
    .header .list-unstyled li a {
      display: block;
      padding: 21px 20px;
      color: #6e6658;
      text-decoration: none; }
      .header .list-unstyled li a:hover {
        color: #fff;
        background-image: radial-gradient(  circle at 50% 50%, #56595c 10%, #3a3d3e); }
    .header .list-unstyled li:first-child {
      margin-left: 15px; }
  .header .main-slider .carousel-control.left, .header .main-slider .carousel-control.right {
    background: none; }
  .header .main-slider h1 {
    font-size: 80px;
    text-align: left;
    text-shadow: 2px 0px 12px #fff;
    color: #4475a5; }
    .header .main-slider h1 span {
      font-size: 56px;
      color: #908674; }
  .header .main-slider h3 {
    font-size: 26px;
    text-align: left;
    color: #908674; }
  .header .main-slider p {
    text-align: left;
    font-size: 20px;
    white-space: pre-line;
    color: #908674;
    margin-top: 20px; }
  .header .main-slider .carousel-caption {
    bottom: 83px;
    left: 22%; }
  .header .main-slider .phone-name {
    vertical-align: bottom; }
  .header .main-slider .carousel-indicators {
    bottom: -110px; }
    .header .main-slider .carousel-indicators li {
      background: #d6c7ad;
      box-shadow: 0px -2px 0px 1px #9e9381;
      border: none; }
    .header .main-slider .carousel-indicators .active {
      background: #7da4b9;
      box-shadow: 0px -1px 0px 1px #516e82; }

.howAndWhat {
  background: url("../img/howandwhats.jpg") no-repeat;
  height: 1750px;
  background-size: cover; }
  .howAndWhat h1 {
    margin: 70px 0 30px;
    color: #1977bd;
    font-size: 80px;
    font-weight: bold; }
    .howAndWhat h1 span {
      color: #888888;
      font-size: 56px;
      font-weight: normal; }
      .howAndWhat h1 span sub {
        bottom: 0; }
  .howAndWhat p {
    font-size: 15px;
    line-height: 25px;
    color: #888888;
    margin-bottom: 25px;
    white-space: pre-line;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual; }
  .howAndWhat button {
    background-color: #7ac2cd;
    background-image: linear-gradient(to bottom,#7ac2cd, #5394b0);
    color: #fff;
    height: 30px;
    font-size: 13px;
    position: relative;
    width: 145px;
    padding-left: 34px;
    border: 1px solid #888888;
    border-radius: 3px;
    text-shadow: 0px -1px 2px #888888;
    letter-spacing: -1px; }
    .howAndWhat button span {
      position: absolute;
      background-color: #6b675c;
      background-image: radial-gradient(  #6b675c 30%, #504c44);
      color: #fff;
      font-size: 18px;
      line-height: 30px;
      display: inline-block;
      width: 30px;
      height: 29px;
      left: 0;
      top: 0; }
